server:
  addr: 0.0.0.0:8080
  metrics: true
  healthz: true
  readyz: true
  pprof: true
application:
  mode: dev
  origin: http://127.0.0.1:8080
  staticPath:
    /public: public
  labels:
    app: mss-boot-admin
    namespace: local
    cluster: local
logger:
  # 日志存放路径，关闭控制台日志后，日志文件存放位置
  # path: temp/logs
  # 日志输出，file：文件，default：命令行，其他：命令行 loki: 推送到loki
  stdout: default #控制台日志，启用后，不输出到文件
  # 日志等级, trace, debug, info, warn, error, fatal
  level: info
  # 日志格式 json json格式
  json: false
  addSource: true
#  loki:
#    url: http://loki:3100
#    interval: 5s
database:
  driver: mysql
  source: 'root:123456@tcp(127.0.0.1:3306)/mss-boot-admin-local?charset=utf8&parseTime=True&loc=Local&timeout=1000ms'
  name: mss-boot-admin-local
  config:
    disableForeignKeyConstraintWhenMigrating: true
  casbinModel: |
    [request_definition]
    r = sub, tp, obj, act

    [policy_definition]
    p = sub, tp, obj, act

    [policy_effect]
    e = some(where (p.eft == allow))

    [matchers]
    m = r.sub == p.sub && r.tp == p.tp && keyMatch(r.obj, p.obj) && regexMatch(r.act, p.act)
  timeout: 10s
auth:
  realm: 'mss-boot-admin zone'
  key: 'mss-boot-admin-secret'
  timeout: '12h'
  maxRefresh: '2160h'
  identityKey: 'mss-boot-admin-identity-key'
pyroscope:
  enabled: false
  applicationName: mss-boot-admin
  serverAddress: http://pyroscope:4040
cache:
  queryCache: true
  queryCacheDuration: 1h
  queryCacheKeys:
    - mss_boot_notices
  memory: ''
#  redis:
#    addr: '127.0.0.1:6379'