.umi/
.umi-production/
generated/locales/
generated/modules/
generated/presentation-registry.generated.ts
generated/routes.ts
locales/
pages/generated/
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
**/__snapshots__/
